table.lz_message {width: 100%;}
.lz_message_a_title{color:#ffffff;font-weight:bold;font-size:11px;text-shadow:0 0px 0 #fff;font-family: Verdana, Arial, sans-serif;}
.lz_message_a_time{color:#ffffff;font-weight:bold;font-size:11px;text-shadow:0 0px 0 #fff;font-family: Verdana, Arial, sans-serif; text-align: right;}
.lz_message_b_title{color:#7a7a7a;font-weight:bold;font-size:11px;text-shadow:0 0px 0 #fff;font-family: Verdana, Arial, sans-serif;}
.lz_message_b_time{color:#8d8d8d;font-weight:bold;font-size:11px;text-shadow:0 0px 0 #fff;font-family: Verdana, Arial, sans-serif;}
.lz_message_b{color:#8d8d8d;font-weight:bold;font-size:11px;text-shadow:0 0px 0 #fff;font-family: Verdana, Arial, sans-serif;}
.lz_message_text{color:#333333;font-weight:normal;font-size:12px;text-shadow:0 0px 0 #fff;font-family: Verdana, Arial, sans-serif; padding: 5px 5px 10px 12;}
.lz_message_translation{border-left:0px solid #99ccff;margin-top:4px;padding-left:5px;color:#808080;font-style:italic;text-shadow:0 0px 0 #fff;}

.TCB{margin:0px;width:auto;margin-top:2px;}
.TCB TD{font-size:11px; line-height: 12px;}
.TCB A{font-size:11px;}
.TCB A:ACTIVE{font-size:11px;}
.TCB A:VISITED{font-size:11px;}
.TCBB{margin:0px;width:97%;padding:4px;padding-left:0px;}
.TCCL{width:25px;border-top: 2px solid white;background-image: url('../img/chat_chat.gif');background-repeat: no-repeat;	background-position: bottom;}
.TCBB{margin:5px;}

.TCM{height:20px;width:100%;margin:0px;margin-top:6px; text-shadow: none;}
.TCF{width:100%;margin:0px;margin-bottom:2px;}

.ECM0{margin:0px;padding:0px;height:20px;width:6px;background-image:url('../img/chat_bg_gray_left.gif');}
.ECM1{margin:0px;padding:0px;background-image:url('../img/chat_bg_gray_center.gif');}
.ECM2{margin:0px;padding:1px 0px 1px 4px;text-align:left;vertical-align:middle;background-image: url('../img/chat_bg_gray_center.gif');font-size:10px;font-weight:bold;font-family:verdana,arial,sans-serif;color:#696969;}
.ECM3{margin:0px;padding:0px 4px 0px 0px;text-align:right;vertical-align:middle;background-image:url('../img/chat_bg_gray_center.gif');font-size:10px;font-weight:bold;font-family:verdana,arial,sans-serif;color:#707070;width:5em;}
.ECM3t{margin:0px;padding:1px 0px 1px 4px;text-align:right;vertical-align:middle;font-size:10px;font-weight:bold;font-family:verdana,arial,sans-serif;color:#707070;}
.ECM4{margin:0px;padding:0px;width:6px;background-image:url('../img/chat_bg_gray_right.gif');}

.ICM0{margin:0px;padding:0px;height:20px;width:6px;background-image:url('../img/chat_bg_green_left.gif');}
.ICM1{margin:0px;padding:0px;background-image:url('../img/chat_bg_green_center.gif');}
.ICM2{margin:0px;padding:1px 0px 1px 4px;text-align:left;vertical-align:middle;background-image: url('../img/chat_bg_green_center.gif');font-size:10px;font-weight:bold;font-family:verdana,arial,sans-serif;color:#FFF;}
.ICM3{margin:0px;padding:0px 4px 0px 0px;text-align:right;vertical-align:middle;background-image:url('../img/chat_bg_green_center.gif');font-size:10px;font-weight:bold;font-family:verdana,arial,sans-serif;color:#FFF;width:5em;}
.ICM3t{margin:0px;padding:1px 0px 1px 4px;text-align:right;vertical-align:middle;font-size:10px;font-weight:bold;font-family:verdana,arial,sans-serif;color:#FFF;}
.ICM4{margin:0px;padding:0px;width:6px;background-image:url('../img/chat_bg_green_right.gif');}

.RCM0{margin:0px;padding:0px;height:20px;width:6px;background-image:url('../img/chat_bg_blue_left.gif');}
.RCM1{margin:0px;padding:0px;background-image:url('../img/chat_bg_blue_center.gif');}
.RCM2{margin:0px;padding:1px 0px 1px 4px;text-align:left;vertical-align:middle;background-image: url('../img/chat_bg_blue_center.gif');font-size:10px;font-weight:bold;font-family:verdana,arial,sans-serif;color:#FFF;}
.RCM3{margin:0px;padding:0px 4px 0px 0px;text-align:right;vertical-align:middle;background-image:url('../img/chat_bg_blue_center.gif');font-size:10px;font-weight:bold;font-family:verdana,arial,sans-serif;color:#FFF;width:5em;}
.RCM3t{margin:0px;padding:1px 0px 1px 4px;text-align:right;vertical-align:middle;font-size:10px;font-weight:bold;font-family:verdana,arial,sans-serif;color:#FFF;}
.RCM4{margin:0px;padding:0px;width:6px;background-image:url('../img/chat_bg_blue_right.gif');}

.lz_visitor_details{color:#787878;text-decoration:underline; display:inline-block;white-space: nowrap;padding-left:20px;background-image:url('../img/215-info.png');background-repeat:no-repeat;background-position:left;}
.lz_visitor_invite{color:#787878;text-decoration:underline; display:inline-block;white-space: nowrap;padding-left:20px;background-image:url('../img/632-skills_gray.png');background-repeat:no-repeat;background-position:left;}
.lz-message-reply{color:#787878;text-decoration:underline; display:inline-block;white-space: nowrap;padding-left:20px;background-image:url('../img/060-reply.png');background-repeat:no-repeat;background-position:left;}
