/**
  * General settings
  **/
html {
    overflow: hidden;
}

body {
    overflow: hidden;
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial,Helvetica,Liberation Sans,DejaVu Sans,sans-serif;
    background-color: #ffffff;
    color: #333333;
}

input:focus {
    outline: 0;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid #bbb;
    border-bottom: 0px;
}

.fa {
    color: #808080;
}

.lzm-unselectable:not(.lzm-allow-copy) {
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.lzm-allow-copy {
    user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
}

.lzm-disabled {
    z-index:1;
    opacity: 0.6;
    cursor: default!important;
    pointer-events: none;
}

.lzm-disabled select {
    display: none;
}

.lzm-noclick {
    cursor: default!important;
    pointer-events: none;
}

.ui-disabled {
    z-index: 1;
    cursor: default!important;
    pointer-events: none;
    filter: Alpha(Opacity=30);
    opacity: .3;
    zoom: 1;
}

.lz_chat_link{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;}
.lz_chat_link_no_icon{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;}
.lz_chat_file{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;}
.lz_chat_file_no_icon{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;}
.lz_chat_mail{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;}
.lz_chat_mail_no_icon{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;}
.lz_chat_human{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;}
.lz_chat_human_no_icon{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;}
.lz_chat_accept{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;}
.lz_chat_accept_no_icon{color:#5197ff;text-decoration:underline; display:inline-block;white-space: nowrap;}
.lz_chat_decline{color:#e34e4e;text-decoration:underline; display:inline-block;white-space: nowrap;}
.lz_chat_decline_no_icon{color:#e34e4e;text-decoration:underline; display:inline-block;white-space: nowrap;}

/*@font-face {
    font-family: 'FA';
    src: url('../../_fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../_fonts/fontawesome-webfont.woff') format('woff'),
    url('../../_fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/

/********** Dialog headlines, footlines and bodies **********/
.lzm-dialog {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 2px;
    bottom: 5px;
    border: 1px solid #cccccc;
    border-radius: 0;
    background: #ffffff;
}

.lzm-dialog-headline, .lzm-dialog-headline2, .lzm-dialog-body, .lzm-dialog-footline {
    position: absolute;
    left: 0;
    right: 0;
    color: #333333;
    text-shadow: none;
    background-image: none;
    margin: 0px;
}

.lzm-dialog-headline {
    top: 0;
    height: 22px;
    border-bottom: 1px solid #cccccc;
    border-radius: 0;
    font-weight: bold;
    font-size: 10px;
    line-height: 0;
    text-align: left;
    padding-left: 10px;
    background-color: #f5f5f5;
}

.lzm-dialog-headline2 {
    top: 23px;
    height: 27px;
    padding: 3px 0px 0px 0px;
    font-size: 11px;
    background-color: #ededed;
    text-align: right;
}

.lzm-dialog-body {
    padding: 5px;
}

.lzm-dialog-footline {
    bottom: 0;
    height: 22px;
    padding: 8px 0px 0px 0px;
    background-color: #ededed;
}

.lzm-dialog-hl2-info {
    float:left;
    font-size: 11px;
    font-weight: normal;
    margin-top: 8px;
    margin-left: 6px;
}

/********** Table styles **********/
.visitor-list-table td, .visitor-list-table th, .attachment-comment-table td, .attachment-comment-table th {
    text-align: left;
    padding: 4px;
    white-space: nowrap;
}

.alternating-rows-table tbody tr:nth-child(odd) td {
    background-color: #f8f8ff;
}

.alternating-rows-table tbody tr:nth-child(even) td {
    background-color: #ffffff;
}

.visitor-list-table td i.fa {
    font-size: 16px;
}

.selected-table-line td:not(.icon-column), .selected-resource-div, .selected-panel-settings-line, .selected-op-table-line {
    color: #ffffff !important;
    text-shadow: none;
}

.selected-table-line td:not(.icon-column), .selected-resource-div, .selected-panel-settings-line:not(.android), .selected-op-table-line {
    background-color: #5197ff !important;
}

.selected-table-line td a {
    color: #ffffff !important;
}

.visitor-list-table th, .attachment-comment-table th {
    background-color: #e9e9e9;
}

.visitor-list-table th:first-child {
}

.visitor-list-table th:last-child {
}

/********** Context menu styles **********/
span.cm-line {
    margin-left: 5px;
    padding: 1px 15px 1px 20px;
    background-position: left center;
    background-repeat: no-repeat;
    text-shadow: none;
    display: inline-block;
    height: 15px;
    white-space: nowrap;
}

.cm-click {
    cursor:pointer;
}

.lzm-ctxt-right-fa {
    float: right;
    margin-top: 3px;
}

.lzm-ctxt-left-fa {
    padding-left: 4px;
}

/********** Misc **********/
input::-ms-clear {
    display: none;
}

input::-ms-reveal {
    display: none;
}
